services:
  abiotic-factor:
    image: "ghcr.io/pleut/abiotic-factor-linux-docker:latest"
    container_name: abiotic-factor
    restart: unless-stopped
    volumes:
      - "${DATA_PREFIX}/abiotic-factor/server:/server"
      - "${DATA_PREFIX}/abiotic-factor/Saved:/server/AbioticFactor/Saved"
    environment:
      - MaxServerPlayers=${ABIOTICFACTOR_PLAYERS}
      - Port=7777
      - QueryPort=27015
      - ServerPassword=${ABIOTICFACTOR_PASSWORD}
      - SteamServerName=${ABIOTICFACTOR_SERVERNAME}
      - UsePerfThreads=true
      - NoAsyncLoadingThread=true
      - WorldSaveName=${ABIOTICFACTOR_SAVENAME}
      - AutoUpdate=true
    ports:
      - "7777:7777/udp"
      - "27015:27015/udp"