#networks:
#  gitea:
#    external: false

services:
  server:
    image: gitea/gitea:latest
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=gitea-postgres:5432
      - GITEA__database__NAME=${GITEA_DATABASE_NAME}
      - GITEA__database__USER=${GITEA_DATABASE_USER}
      - GITEA__database__PASSWD=${GITEA_DATABASE_PASSWD}
    restart: always
#    networks:
#      - gitea
    volumes:
      - ${DATA_PREFIX}/gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:22"
    depends_on:
      gitea-postgres:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitea.rule=Host(`gitea.${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.gitea.entrypoints=websecure"
      - "traefik.http.routers.gitea.tls.certresolver=letsencrypt"
      - "traefik.http.routers.gitea.service=gitea"
      #- "traefik.http.routers.gitea.middlewares=foxhole@docker"
      - "traefik.http.services.gitea.loadbalancer.server.port=3000"
      - "traefik.http.services.gitea.loadbalancer.server.scheme=http"

  gitea-postgres:
    image: postgres:15
    container_name: gitea-postgres
    restart: always
    environment:
      - POSTGRES_USER=${GITEA_DATABASE_USER}
      - POSTGRES_PASSWORD=${GITEA_DATABASE_PASSWD}
      - POSTGRES_DB=${GITEA_DATABASE_NAME}
#    networks:
#      - gitea
    volumes:
      - ${DATA_PREFIX}/gitea-postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 30s
      timeout: 20s
      retries: 3