---
services:
  kavita:
    image: lscr.io/linuxserver/kavita:latest
    container_name: kavita
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
    volumes:
      - ${DATA_PREFIX}/kavita:/config
      - ${MEDIA_PREFIX}/Documents/KavitaLibrary:/data
    ports:
      - 5000:5000
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kavita.rule=Host(`kavita.${NETWORK_DOMAIN}`)"
      - "traefik.http.routers.kavita.entrypoints=websecure"
      - "traefik.http.routers.kavita.tls.certresolver=letsencrypt"
      - "traefik.http.routers.kavita.service=kavita"
      #- "traefik.http.routers.kavita.middlewares=foxhole@docker"
      - "traefik.http.services.kavita.loadbalancer.server.port=5000"
      - "traefik.http.services.kavita.loadbalancer.server.scheme=http"