services:
  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    volumes:
      - ${DATA_PREFIX}/mqtt/config:/mosquitto/config
      - ${DATA_PREFIX}/mqtt/data:/mosquitto/data
      - ${DATA_PREFIX}/mqtt/log:/mosquitto/log
    #ports:
    #  - 1883:1883
    #  - 8883:8883
    #  - 9001:9001
    stdin_open: true
    tty: true
    restart: unless-stopped
    labels:
      - "traefik.enable=true"

      # TCP Insecure
      - "traefik.tcp.routers.mqtt.rule=HostSNI(`mqtt.${NETWORK_DOMAIN}`)"
      - "traefik.tcp.routers.mqtt.entrypoints=mqtt"
      - "traefik.tcp.routers.mqtt.service=mqtt"

      # TCP Secure
      - "traefik.tcp.routers.mqtt.rule=HostSNI(`mqtt.${NETWORK_DOMAIN}`)"
      - "traefik.tcp.routers.mqtt.entrypoints=mqttsecure"
      - "traefik.tcp.routers.mqtt.tls=true"
      - "traefik.tcp.routers.mqtt.tls.certresolver=letsencrypt"
      - "traefik.tcp.routers.mqtt.service=mqtt"
      
      # Websocket
      #- "traefik.tcp.routers.mqtt-ws.rule=HostSNI(`mqtt.${NETWORK_DOMAIN}`)"
      #- "traefik.tcp.routers.mqtt-ws.entrypoints=websocket"
      #- "traefik.tcp.routers.mqtt-ws.tls.certresolver=letsencrypt"
      #- "traefik.tcp.routers.mqtt-ws.service=mqtt-websocket"
      #- "traefik.tcp.services.mqtt-websocket.loadbalancer.server.port=9001"

      # Load Balancer
      - "traefik.tcp.services.mqtt.loadbalancer.server.port=1883"