services:
  traefik:
    image: traefik:latest
    container_name: traefik
    command:
      #- "--log.level=DEBUG"
      - "--log.level=ERROR"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge=true"
      #- "--certificatesresolvers.cloudflare.acme.dnschallenge.delayBeforeCheck=60"
      #- "--certificatesresolvers.cloudflare.acme.dnschallenge.disablePropagationCheck=true"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.cloudflare.acme.email=${TRAEFIK_EMAIL}"
      - "--certificatesresolvers.cloudflare.acme.storage=/data/acme.json"
    environment:
      - CF_API_EMAIL=${TRAEFIK_EMAIL}
      - CF_API_KEY=${TRAEFIK_CLOUDFLARE_API_KEY}
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DATA_PREFIX}/traefik:/data
    labels:
      - "traefik.http.routers.http-catchall.rule=hostregexp(`{host:.+}`)"
      - "traefik.http.routers.http-catchall.entrypoints=web"
      - "traefik.http.routers.http-catchall.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"